extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Garrett Hughes

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | “Your son was butchered at the Red Wedding, Lord Manderly. But you refuse the call. You swore allegiance to House Stark, Lord Glover. But in their hour of greatest need, you refuse the call. And you, Lord Kerwin, your father was skinned alive by Ramsay Bolton, still, you refuse the call. But House Mormont remembers. The North remembers. We know no king but the King in the North whose name is Stark. I don’t care if he’s a bastard. Ned Stark’s blood runs through his veins. He’s my  king, from this day until his last day!” - LYANNA MORMONT AT WINTERFELL
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5
          li CSS3
          li JavaScript
          li JQuery
          li Node.js
          li Express

        h6 Contact Info
        ul
          li (318) 458-8925
          li ghughes139@gail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/garrett-hughes-5320626b/') LinkedIn
        a.button.expanded(href='https://github.com/ghughes13') GitHub
        a.button.expanded(href='https://twitter.com/Ghughes139') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
